In [4]:
from pyquery import PyQuery as pq

In [1]:
import urllib
import pprint

In [3]:
html = pq("https://www.bls.gov/news.release/atus.t01.htm");

In [4]:
html

In [9]:
entries = html('#tus_tu_nr1 tbody tr')

In [13]:
pq(entries[0]).html()

'\n\t<th id="tus_tu_nr1.r.1"><p class="sub0">Total, all activities<span class="footnoteRefs">(<a href="#tus_tu_nr1.f.1" title="Click to jump to footnotes at bottom of the table">1</a>)</span></p></th>\n\t<td><span class="datavalue">24.00</span></td>\n\t<td><span class="datavalue">24.00</span></td>\n\t<td><span class="datavalue">24.00</span></td>\n\t<td><span class="datavalue">-</span></td>\n\t<td><span class="datavalue">-</span></td>\n\t<td><span class="datavalue">-</span></td>\n\t<td><span class="datavalue">-</span></td>\n\t<td><span class="datavalue">-</span></td>\n\t<td><span class="datavalue">-</span></td>\n'

In [22]:
data_entries = []
for e in entries:
    e = pq(e)
    activity_name = e('th')
    cols = e('td')
    data_entry = []
    for c in cols:
        c = pq(c)
        data_entry.append(c.text())
    entry_dict = {}
    entry_dict['activity'] = activity_name.text()
    entry_dict['data'] = data_entry
    data_entries.append(entry_dict)

import json
with open('data.json', 'w') as output:
    json.dump(data_entries, output, indent=4)

In [23]:
ls

CDF Plot.ipynb                         Untitled1.ipynb
Info3300 proj1.ipynb                   Untitled2.ipynb
MatrixManipulate.ipynb                 axis/
PerformancePlots/                      data.json
Plot new.ipynb                         geckodriver.log
Test1/                                 newtestdata/
TestVersion2.6/                        reviews_Musical_Instruments_5.json.gz
Untitled.ipynb

In [3]:
html = pq("https://www.bls.gov/news.release/atus.t03.htm")

In [4]:
entries = html('#tus_tu_nr3 tbody tr')

In [5]:
len(entries)

61

In [18]:
tr = entries[0]

In [19]:
tr = pq(tr)

In [20]:
tr('td')

In [28]:
s = 'Other marital statuses'
print(len(s))

22

In [29]:
dataset = []
for tr in entries:
    tr = pq(tr)
    th_txt = tr('th').text()
    if th_txt is '':
        pass
    else:
        tds = tr('td')
        if len(tds) < 2:
            category = {}
            category['name'] = th_txt
            category['sub'] = []
            dataset.append(category)
        else:
            category = dataset[-1]
            if len(th_txt) > 17: # no better way to identify subroutine.
                sub_cate = {}
                sub_cate['title'] = th_txt
                sub_cate['data'] = []
                sub_cate['sub'] = []
                for td in tds:
                    td = pq(td)
                    sub_cate['data'].append(td.text())
                category['sub'].append(sub_cate)
            else:
                sub_cate = category['sub'][-1]
                sub_sub = {}
                sub_sub['title'] = th_txt
                sub_sub['data'] = []
                for td in tds:
                    td = pq(td)
                    sub_sub['data'].append(td.text())
                sub_cate['sub'].append(sub_sub)
import json
with open('data2.json', 'w') as output:
    json.dump(dataset, output, indent=2)

In [30]:
headers = html('#tus_tu_nr3 thead tr')

In [38]:
heads = headers[1]

In [39]:
heads = pq(heads)

In [42]:
ths = heads('th')
print(len(ths))

12

In [43]:
data_descriptions = []
for th in ths:
    th = pq(th)
    print(th.text())
    data_descriptions.append(th.text())
with open('desc.json','w') as output:
    json.dump(data_descriptions, output, indent=2)

Personal care activities
Eating and drinking
Household activities
Purchasing goods and services
Caring for and helping household members
Caring for and helping non- household members
Working and work- related activities
Educational activities
Organizational, civic, and religious activities
Leisure and sports
Telephone calls, mail, and e-mail
Other activities, not elsewhere classified

In [45]:
data_descriptions

['Personal care activities',
 'Eating and drinking',
 'Household activities',
 'Purchasing goods and services',
 'Caring for and helping household members',
 'Caring for and helping non- household members',
 'Working and work- related activities',
 'Educational activities',
 'Organizational, civic, and religious activities',
 'Leisure and sports',
 'Telephone calls, mail, and e-mail',
 'Other activities, not elsewhere classified']

In [49]:
dataset = []
for tr in entries:
    tr = pq(tr)
    th_txt = tr('th').text()
    if th_txt is '':
        pass
    else:
        tds = tr('td')
        if len(tds) < 2:
            category = {}
            category['name'] = th_txt
            category['sub'] = []
            dataset.append(category)
        else:
            category = dataset[-1]
            if len(th_txt) > 17: # no better way to identify subroutine.
                sub_cate = {}
                sub_cate['title'] = th_txt
                sub_cate['data'] = []
                sub_cate['sub'] = []
                for i in range(len(tds)):
                    td = tds[i]
                    td = pq(td)
                    sub_cate['data'].append({data_descriptions[i]: td.text()})
                category['sub'].append(sub_cate)
            else:
                sub_cate = category['sub'][-1]
                sub_sub = {}
                sub_sub['title'] = th_txt
                sub_sub['data'] = []
                for i in range(len(tds)):
                    td = tds[i]
                    td = pq(td)
                    sub_sub['data'].append({data_descriptions[i]: td.text()})
                sub_cate['sub'].append(sub_sub)
import json
with open('data2.json', 'w') as output:
    json.dump(dataset, output, indent=2)

In [5]:
html = pq("https://www.bls.gov/tus/tables/a3_1115.htm")

In [6]:
table_a = html("#tus_tu_a3a")
table_b = html("#tus_tu_a3b")

In [53]:
table_a = pq(table_a)
table_b = pq(table_b)

In [8]:
entries_a = table_a('tbody tr')

In [9]:
entries_a

[<tr>, <tr.greenbar>, <tr>, <tr.greenbar>, <tr>, <tr.greenbar>, <tr>, <tr.greenbar>, <tr>, <tr.greenbar>, <tr>, <tr.greenbar>, <tr>, <tr.greenbar>, <tr>, <tr.greenbar>, <tr>, <tr.greenbar>, <tr>, <tr.greenbar>, <tr>, <tr.greenbar>, <tr>, <tr.greenbar>, <tr>, <tr.greenbar>, <tr>, <tr.greenbar>, <tr>, <tr.greenbar>]

In [77]:
ths = []
def extractdata(table):
    
    entries = table('tbody tr')
    data = {}
    for i in range(len(entries)):
        tr = entries[i]
        tr = pq(tr)
        p = tr('th p')
        
        nxt_p_sub2 = False
        if i < len(entries) - 2:
            nxt_tr = entries[i + 1]
            nxt_tr = pq(nxt_tr)
            nxt_p = nxt_tr('th p')
            if nxt_p.attr['class'] == 'sub2':
                nxt_p_sub2 = True
        
        need_this_line = False
        if p.attr['class'] == 'sub2':
            need_this_line = True
        elif p.attr['class'] == 'sub0':
            pass
        elif not nxt_p_sub2:
            need_this_line = True

        if need_this_line:
            ths.append(p.text())
            tds = tr('td')
            line_datas = []
            for td in tds:
                td = pq(td)
                value = td.text()
                if '-' in value:
                    value = "0"
                line_datas.append(value)
            data[p.text()] = line_datas
    return data

dataA = extractdata(table_a)
dataB = extractdata(table_b)
ths = ths[0:int(len(ths)/2)]

In [95]:
dataA

{'Attending class': ['0',
  '0',
  '0',
  '0',
  '0',
  '0',
  '0',
  '0.4',
  '2.5',
  '3.4',
  '3.6',
  '3.3'],
 'Caring for and helping household children': ['0.2',
  '0.2',
  '0.2',
  '0.2',
  '0.4',
  '0.3',
  '1.2',
  '2.6',
  '2.1',
  '1.9',
  '1.8',
  '1.7'],
 'Caring for and helping nonhousehold adults': ['0',
  '0',
  '0',
  '0',
  '0',
  '0',
  '0.1',
  '0.1',
  '0.2',
  '0.3',
  '0.5',
  '0.5'],
 'Consumer goods purchases': ['0.1',
  '0',
  '0',
  '0',
  '0',
  '0',
  '0.1',
  '0.2',
  '0.5',
  '1.1',
  '2.3',
  '3.1'],
 'Eating and drinking': ['0.6',
  '0.3',
  '0.3',
  '0.3',
  '0.5',
  '1.2',
  '3.2',
  '6.2',
  '7.3',
  '6.7',
  '5.3',
  '6.2'],
 'Food preparation and cleanup': ['0.1',
  '0.1',
  '0.1',
  '0.1',
  '0.4',
  '0.9',
  '2.4',
  '3.6',
  '3.6',
  '3.2',
  '2.6',
  '2.8'],
 'Homework and research': ['0.2',
  '0.2',
  '0.1',
  '0',
  '0.1',
  '0.1',
  '0.1',
  '0.2',
  '0.3',
  '0.5',
  '0.7',
  '0.9'],
 'Household management': ['0.1',
  '0.1',
  '0',
  '0',
  '0',
  '0.1',
  '0.2',
  '0.4',
  '0.6',
  '0.8',
  '0.9',
  '0.9'],
 'Housework': ['0.2',
  '0.1',
  '0.1',
  '0',
  '0.1',
  '0.3',
  '0.8',
  '1.8',
  '3.6',
  '5.4',
  '6.2',
  '6.0'],
 'Lawn and garden care': ['0',
  '0',
  '0',
  '0',
  '0',
  '0',
  '0.1',
  '0.4',
  '0.9',
  '1.5',
  '1.9',
  '1.9'],
 'Other activities, not elsewhere classified': ['0.3',
  '0.1',
  '0.1',
  '0.1',
  '0.2',
  '0.3',
  '0.6',
  '1.1',
  '1.3',
  '1.4',
  '1.6',
  '1.6'],
 'Participating in sports, exercise, and recreation': ['0.2',
  '0.1',
  '0.1',
  '0',
  '0.1',
  '0.3',
  '1.0',
  '1.2',
  '1.6',
  '1.9',
  '2.0',
  '1.9'],
 'Professional and personal care services': ['0',
  '0',
  '0',
  '0',
  '0',
  '0',
  '0',
  '0.1',
  '0.3',
  '0.7',
  '0.9',
  '1.0'],
 'Religious and spiritual activities': ['0.1',
  '0',
  '0',
  '0.1',
  '0.1',
  '0.2',
  '0.4',
  '0.5',
  '0.7',
  '1.2',
  '1.9',
  '2.2'],
 'Sleeping': ['84.5',
  '91.5',
  '94.3',
  '95.2',
  '91.7',
  '85.2',
  '65.7',
  '42.4',
  '24.8',
  '13.7',
  '7.5',
  '4.9'],
 'Socializing and communicating': ['1.1',
  '0.7',
  '0.3',
  '0.2',
  '0.1',
  '0.1',
  '0.2',
  '0.7',
  '1.0',
  '1.4',
  '2.3',
  '2.7'],
 'Telephone calls, mail, and e-mail': ['0.4',
  '0.2',
  '0.1',
  '0.1',
  '0.1',
  '0.1',
  '0.2',
  '0.4',
  '0.6',
  '0.7',
  '0.8',
  '0.9'],
 'Volunteering (organizational and civic activities)': ['0.1',
  '0',
  '0',
  '0',
  '0',
  '0',
  '0.1',
  '0.2',
  '0.5',
  '0.9',
  '1.3',
  '1.3'],
 'Watching television': ['4.6',
  '2.1',
  '1.2',
  '0.7',
  '0.8',
  '1.3',
  '2.0',
  '3.3',
  '4.4',
  '5.8',
  '7.0',
  '8.1'],
 'Working': ['1.9',
  '1.6',
  '1.3',
  '1.3',
  '1.9',
  '2.7',
  '5.7',
  '11.8',
  '21.3',
  '26.9',
  '28.6',
  '29.2']}

In [13]:
times_a = table_a('thead th')[1:]
times_b = table_b('thead th')[1:]

t1 = []
t2 = []
for i in range(len(times_a)):
    t1.append(pq(times_a[i]).text())
    t2.append(pq(times_b[i]).text())

In [14]:
t = t1+t2
print(t)

['12 AM', '1 AM', '2 AM', '3 AM', '4 AM', '5 AM', '6 AM', '7 AM', '8 AM', '9 AM', '10 AM', '11 AM', '12 PM', '1 PM', '2 PM', '3 PM', '4 PM', '5 PM', '6 PM', '7 PM', '8 PM', '9 PM', '10 PM', '11 PM']

In [96]:
data = open('data3.tsv', 'w')
first_row = "time\t"
for t in ths:
    first_row += t
    first_row += '\t'
first_row = first_row[0:-1]
first_row += '\n'
data.write(first_row)

for i in range(len(t1)):
    row = ""
    row += t1[i]
    row += '\t'
    for t in ths:
        x = dataA[t][i]
        row += x
        row += '\t'
    row = row[0:-1]
    row += '\n'
    data.write(row)

for i in range(len(t2)):
    row = ""
    row += t2[i]
    row += '\t'
    for t in ths:
        x = dataB[t][i]
        row += x
        row += '\t'
    row = row[0:-1]
    row += '\n'
    data.write(row)

data.close()

In [10]:
ths = []
def extractdata(table):
    
    entries = table('tbody tr')
    data = {}
    for i in range(len(entries)):
        tr = entries[i]
        tr = pq(tr)
        p = tr('th p')
        
        if p.attr['class'] == 'sub1':
            ths.append(p.text())
            tds = tr('td')
            line_datas = []
            for td in tds:
                td = pq(td)
                value = td.text()
                if '-' in value:
                    value = "0"
                line_datas.append(value)
            data[p.text()] = line_datas
    return data

dataA = extractdata(table_a)
dataB = extractdata(table_b)
ths = ths[0:int(len(ths)/2)]

In [11]:
ths

['Personal care activities',
 'Eating and drinking',
 'Household activities',
 'Purchasing goods and services',
 'Caring for and helping household members',
 'Caring for and helping nonhousehold members',
 'Working and work-related activities',
 'Educational activities',
 'Organizational, civic, and religious activities',
 'Leisure and sports',
 'Telephone calls, mail, and e-mail',
 'Other activities, not elsewhere classified']

In [15]:
data = open('data4.tsv', 'w')
first_row = "time\t"
for t in ths:
    first_row += t
    first_row += '\t'
first_row = first_row[0:-1]
first_row += '\n'
data.write(first_row)

for i in range(len(t1)):
    row = ""
    row += t1[i]
    row += '\t'
    for t in ths:
        x = dataA[t][i]
        row += x
        row += '\t'
    row = row[0:-1]
    row += '\n'
    data.write(row)

for i in range(len(t2)):
    row = ""
    row += t2[i]
    row += '\t'
    for t in ths:
        x = dataB[t][i]
        row += x
        row += '\t'
    row = row[0:-1]
    row += '\n'
    data.write(row)

data.close()